.section-home {
  #initials, #avatar {display: none;}

  @include background("../img/home.jpg");
  @include position(relative, 0, 0);

  padding-top: 58px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-height: 555px;
  min-width: 320px;

  .title {
    padding: 50px 80px 0 80px;
    font-family: roboto_black;
    text-align: center;
  }

  .social-network ul {padding-left: 0;}
}

@media (min-width: 1024px) {
  .section-home { 
    #initials {display: inline;}
    padding-left: 100px;
    justify-content: flex-start;

    #avatar {
      display: inline;

      position: absolute;
      left: 50%;
      top: 100%;

      @include transform-translate(-50%,-50%);
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }
} 