.section-home {
  #initials, #avatar {display: none;}

  @include background("../img/home.jpg");
  @include position(relative, 0, 0);

  padding-top: 58px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-height: 555px;
  min-width: 320px;

  .title {
    padding: 50px 80px 0 80px;
    font-family: roboto_black;
    text-align: center;
  }

  .social-network ul {padding-left: 0;}
}

@media (min-width: 425px) {
  .section-home .title h1 {font-size: 35px;}
}

@media (min-width: 448px) {
  .section-home .title {padding-top: 100px;}
}

@media (min-width: 1024px) {
  .section-home { 
    #initials {display: inline;}
    padding-left: 80px;
    justify-content: flex-start;
    .title{padding-top: 50px;}
    #avatar {
      display: inline;

      position: absolute;
      left: 50%;
      top: 100%;

      @include transform-translate(-35%,-50%);
      
      img {
        width: 60%;
        height: auto;
      }
    }
  }
} 