@import "normalize";
@import "config";
@import "home";
@import "about";
@import "skills";
@import "contact";
@import "nav";

//Global
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html, body {
	height: 100%;
	width: 100%;
  min-width: 320px;
}

section{color: $white;}
section > *, footer {padding: 0 90px;}

#home, #skills, #contact, nav {text-transform: uppercase;}

.clear {clear: both;}
.mask {
  background-color: $m-green;
  height: 14px;
  position: absolute;
  right: 0;
}
.background {
  height: auto;
  max-width: 100%;
  opacity: 0;
  vertical-align: top;
}
//Navbar
/*  nav ul {
 @include position(fixed, 0, 0);

 background-color: $m-gray-dark;
 list-style-type: none;
 overflow: hidden;

 text-align: right;
 
 margin: 0;
 padding: 40px 0;
 width: 100%;
 height: 50px;
 z-index: 1;
 li {
   display: inline;
   &.nav-logo {
     float: left;
     a {
       border: 0;
       margin-left:90px;
       padding: 0;
       img {height: 30px;}
     }
   }
   a {
     border-right: 1px solid white;
     color: $white;
     @include font(roboto_thin, 24px);
     padding: 0 32px;
     text-decoration: none;
   }  
 }
}  */

//social-network
.social-network ul {
	list-style-type: none;
	li {display: inline-block;}
	li a img {
		object-fit: none;
		height: 54px;
		width: 54px;
		&.fb{@include object-position(0, 0);}
		&.git{@include object-position(-55px, 0);}
		&.g{@include object-position(-110px, 0);}
		&.in{@include object-position(-165px, 0);}
	}
}

footer {
  @include font(roboto_regular, 25px);
  background-color: $m-gray-dark;
  color: $m-gray-light;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .social-network ul li a img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover{
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}